<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<form id="login_form" name="login_form" role="form" method="POST" class="form-horizontal">
	<!-- hidden values -->
	<input type="hidden" id="lang" name="lang" th:value="${lang}">
    <input type="hidden" id="login_form_return_error_flag" th:value="${(loginForm != null && 
            loginForm.returnType == T(cn.caam.gs.common.enums.ExecuteReturnType).NG.getId())}">
    <input type="hidden" id="login_form_return_error_msg" th:value="${loginForm.errorMsg}">
    <fieldset>
		<div style="margin: 20px 20px 20px 20px;">
            <div class="col-12 text-center" style="height: 30px">
				<h2>[[#{login.panel.btn.adminLlogin}]]</h2>
			</div>
        </div>
        <div style="margin: 20px 20px 20px 20px;">
            <input type="text" maxlength="20"
                th:placeholder="#{login.panel.placeholder.user}" class="form-control"
                th:field="${loginForm.userCode}"/>
        </div>
        <div style="margin: 20px 20px 20px 20px;">
                <!-- 
            <input id="password" name="password" type="password" 
                th:placeholder="#{login.panel.placeholder.pw}" class="form-control input-md"
                th:field="${loginForm.password}"/>
				 -->
			 <input id="password" name="password" type="password" 
                th:placeholder="#{login.panel.placeholder.pw}" class="form-control"
                value="1"/>
        </div>
        <div class="text-right" style="margin: 20px 20px 20px 20px;height: 40px">
            <button id="loginBtn" type="button" name="loginBtn" 
                class="btn btn-outline-success btn_com pull-right">
                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>&nbsp;&nbsp;
                [[#{login.panel.btn.adminLlogin}]]
                </button>
        </div>
    </fieldset>
</form>
<!-- /script -->
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function(){
        //--------------------------------------------------------[
        //init component
        var adminLoginBlock = new AdminLoginBlock(); 
        //init bond event to btn
    	adminLoginBlock.init();
    });
/*]]>*/
</script>
</html>