<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<form id="login_form" name="login_form" role="form" method="POST" class="form-horizontal">
	<!-- hidden values -->
	<input type="hidden" id="lang" name="lang" th:value="${lang}">
    <input type="hidden" id="login_form_return_error_flag" th:value="${(loginForm != null && 
            loginForm.returnType == T(cn.caam.gs.common.enums.ExecuteReturnType).NG.getId())}">
    <input type="hidden" id="login_form_return_error_msg" th:value="${loginForm.errorMsg}">
    <div>
        <div class="col-12 text-center" style="height: 20px">
		</div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-12 d-flex justify-content-center input-group" style="height: 50px">
            <input type="text" maxlength="20" style="background-color: #FFFAF0;"
                th:placeholder="#{login.panel.placeholder.user}" class="form-control label-16"
                th:field="${loginForm.userCode}"/>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-12 d-flex justify-content-center input-group" style="height: 50px">
			 <input id="password" name="password" type="password" style="background-color: #FFFAF0;"
                th:placeholder="#{login.panel.placeholder.pw}" class="form-control label-16"
                th:field="${loginForm.password}"/>
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-4 input-group" style="height: 50px">
			 <input id="authCode" name="authCode" type="text" style="background-color: #FFFAF0;"
                placeholder="输入验证码" class="form-control label-16"
                th:field="${loginForm.authImgNumber}"/>
        </div>
        <div class="col-4" style="height: 40px">
			 <img style='width:100px;height:33px' th:src="${loginForm.authImg}"> 
        </div>
        <div class="col-4 d-flex justify-content-start">
			<span id="refreshImgBtn" class='a-a1'>
            <i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;看不清
            </span>
        </div>
    </div>
	<div class="row">
		<div class="col-12" style="height: 20px"><hr style="color: #e9e5e5;border: 1px solid;width: 100%;"></div>
	</div>
    <div class="row">
		<div class="col-12 d-flex justify-content-end">
        	<button id="loginBtn" type="button" name="loginBtn" 
	            class="btn btn-outline-success btn_com pull-right">
	            <i class="fa fa-sign-in-alt" aria-hidden="true"></i>&nbsp;[[#{login.panel.btn.adminLlogin}]]
            </button>
       </div>
    </div>
</form>
<!-- /script -->
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function(){
        //--------------------------------------------------------[
        //init component
        var adminLoginBlock = new AdminLoginBlock(); 
        //init bond event to btn
    	adminLoginBlock.init();
    });
/*]]>*/
</script>
</html>