<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="base-template :: base-head(#{common.title},~{::link}, 'admin')">
</head>
<body
    th:replace="base-template :: base-body(#{index.title},~{::#navi},~{::#main},~{::script}, 'admin')">
<div id="navi">
    <!-- navi -->
	<div th:replace="fragment/adminNaviMenu :: navi"></div>
</div> 
<div id="main">
	<form id="main_form">
	<div id="mainBody" style="padding-top: 60px;"></div>
	</form> 
</div>

<!-- /script -->
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function(){

        var jsInfo = /*[[${session.javaScriptSetInfo}]]*/;
        Pos.init.init(jsInfo);

        //init component
        var adminMenu = new AdminMenu();
        
        adminMenu.init();
    });
    
    const historyList = ["/userdetail/admininit"];//全部小写
    const excludeList = ["/admin/orderdetail/init"];//全部小写
    window.addEventListener('popstate', function(event) {
   	  console.log("popstate location:"+ window.location+"  state:"+event.state+" hash:"+window.location.hash+" history_length:"+window.history.length);
   	  var url = window.location.hash ? window.location.hash.substring(1):"";
   	console.log("url:"+url);
   	  //if (url == null || url == '' || !historyList.includes(url.substring(1).toLowerCase())) return;
   	  if ((url.endsWith("/init") || url.endsWith("/search") ||url.endsWith("/growing") || historyList.includes(url.toLowerCase()))
   		&& !excludeList.includes(url.toLowerCase())){
	   	  console.log("popstate success url:"+ url.substring(1));
	   	  ShaAjax.ajax.get(
	            url, 
	  	        event.state, 
	  	        function(data){
	  	        	$('#mainBody').html(data);
	  	            $('[data-toggle="tooltip"]').tooltip();
	  	        }
	  	   ); 
   	  }
   	});
    
    $(document).ajaxSuccess(function(event, xhr, settings) {
    	console.log("ajaxSuccess1 url:"+settings.url+" data:"+settings.data+" type:"+settings.type+" history_length:"+window.history.length);
    	if (settings.type != "GET") return;
    	
    	var url = settings.url;
    	var data = settings.data;
    	if(url.indexOf("?") != -1){
    	    url  = settings.url.split("?")[0];
    	    data = settings.url.split("?")[1];
    	}
    	
    	console.log("ajaxSuccess2 url:"+url+" data:"+data);
    	if ((url.endsWith("/init") || url.endsWith("/search") ||url.endsWith("/growing") || historyList.includes(url.toLowerCase()))
     		&& !excludeList.includes(url.toLowerCase())){
        	var currentPath = window.location.hash;
        	if (currentPath != '') currentPath = currentPath.substring(1);
        	
    		if (currentPath == url || url.substring(0, url.lastIndexOf("/")) == currentPath.substring(0, currentPath.lastIndexOf("/"))){
    			window.history.replaceState(data ,"", "#"+url);
    			console.log("replaceState url:"+"#"+url+" data:"+data+" history_length:"+window.history.length);
    		}else{
    			window.history.pushState(data ,"", "#"+url);
    			console.log("pushState url:"+"#"+url+" data:"+data+" history_length:"+window.history.length);
    		}
    	}
   	});
/*]]>*/
</script>
</body>
</html>