<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="base-template :: base-head(#{common.title},~{::link})">
</head>
<body
    th:replace="base-template :: base-body(#{index.title},~{::#navi},~{::#main},~{::script}, 'admin')">
<div id="navi">
    <!-- navi -->
	<div th:replace="fragment/adminNaviMenu :: navi"></div>
</div> 
<div id="main">
	<form id="main_form">
	<div id="mainBody" style="padding-top: 60px;"></div>
	</form> 
</div>

<!-- /script -->
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(document).ready(function(){

        var jsInfo = /*[[${session.javaScriptSetInfo}]]*/;
        Pos.init.init(jsInfo);

        //init component
        var adminMenu = new AdminMenu();
        
        adminMenu.init();
    });
/*]]>*/
</script>
</body>
</html>