<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="base-template :: base-head(#{user.menu.title},~{::link}, 'app')">
</head>
<body
	th:replace="base-template :: base-body(#{index.title},~{::#navi},~{::#main},~{::script}, 'app')">
	<div id="navi">
    <!-- navi -->
	<div th:replace="fragment/naviMenu :: navi"></div>
	</div> 
	<div id="main">
		<form id="main_form">
			<input type="hidden" th:field="${loginForm.mediaHeight}">
    		<input type="hidden" th:field="${loginForm.mediaWidth}">
			<div id="mainBody" style="padding-top: 50px;"></div>
		</form> 
	</div>
	</div>

	<!-- /script -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    $(document).ready(function(){

        var jsInfo = /*[[${session.javaScriptSetInfo}]]*/;
        Pos.init.init(jsInfo);

        //init component
        var menu = new Menu();
        
        menu.init();
    });
/*]]>*/
/*]]>*/
</script>
</body>
</html>