.tomato12 {
    font-size: 12pt;
    color: #ff6347;
}

.tomato8 {
    font-size: 8pt;
    color: #ff6347;
    cursor: pointer;
}

.darkcyan12 {
    font-size: 12pt;
    color: #008b8b;
}

.white12 {
    font-size: 12pt;
    color: #ffffff;
}

.white10 {
    font-size: 10pt;
    color: #ffffff;
}

.nomal14 {
    font-size: 14pt;
}

.nomal12 {
    font-size: 12pt;
}

.nomal10 {
    font-size: 10pt;
}

