<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caam.gs.domain.db.custom.mapper.OptionalFixedValueInfoMapper">
	<!-- SQL CHIP -->
	<select id="getAll" resultMap="cn.caam.gs.domain.db.base.mapper.MFixedValueMapper.BaseResultMap">
        SELECT * FROM m_fixed_value
        ORDER BY code, value,show_index asc
    </select>
    
    <select id="selectByName" resultMap="cn.caam.gs.domain.db.base.mapper.MFixedValueMapper.BaseResultMap">
        SELECT * FROM m_fixed_value
        WHERE code = #{code, jdbcType=NVARCHAR}
          AND name = #{name, jdbcType=NVARCHAR}
        ORDER BY code, value,show_index asc
    </select>
    
</mapper>