<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caam.gs.domain.db.custom.mapper.OptionalUserInfoMapper">
	<!-- RESULT MAP -->
    <resultMap id="UserInfoForm" 
                type="cn.caam.gs.domain.db.custom.entity.UserInfo">
        <id property="id" column="id"/>
        <result property="userTypeName"       column="userTypeName"/>
        <result property="membershipPathName" column="membershipPathName"/>
        <result property="focusOnName"        column="focusOnName"/>
        <result property="sexName"            column="sexName"/>
        <result property="nationalityName"    column="nationalityName"/>
        <result property="politicalName"      column="politicalName"/>
        <result property="eduDegreeName"      column="eduDegreeName"/>
        <result property="bachelorName"       column="bachelorName"/>
        <result property="positionName"       column="positionName"/>
        <result property="employerTypeName"   column="employerTypeName"/>
        <result property="jobTitleName"       column="jobTitleName"/>
        <result property="certificateTypeName"   column="certificateTypeName"/>
        <result property="areaName"           column="areaName"/>
        <result property="areaSubName"        column="areaSubName"/>
        <result property="checkStatusName"    column="checkStatusName"/>
        <result property="societyTypeName"    column="societyTypeName"/>
        <association property="user" 
            resultMap="cn.caam.gs.domain.db.base.mapper.MUserMapper.BaseResultMap">
            <id column="id" property="id" />
        </association>
        <association property="userExtend" resultMap="UserExtendForm">
            <id column="id" property="id" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    
    <resultMap id="UserExtendForm" type="cn.caam.gs.domain.db.base.entity.MUserExtend">
    	<id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="introducer1" property="introducer1" jdbcType="VARCHAR" />
	    <result column="introducer2" property="introducer2" jdbcType="VARCHAR" />
	    <result column="photo_ext" property="photoExt" jdbcType="VARCHAR" />
	    <result column="major" property="major" jdbcType="VARCHAR" />
	    <result column="educational_at_ext" property="educationalAtExt" jdbcType="VARCHAR" />
	    <result column="bachelor_at_ext" property="bachelorAtExt" jdbcType="VARCHAR" />
	    <result column="vocational_at_ext" property="vocationalAtExt" jdbcType="VARCHAR" />
	    <result column="research_dir" property="researchDir" jdbcType="VARCHAR" />
	    <result column="learn_experience" property="learnExperience" jdbcType="VARCHAR" />
	    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
	    <result column="papers" property="papers" jdbcType="VARCHAR" />
	    <result column="honors" property="honors" jdbcType="VARCHAR" />
        <result column="photo" property="photo" jdbcType="BLOB" />
	    <result column="educational_at" property="educationalAt" jdbcType="BLOB" />
	    <result column="bachelor_at" property="bachelorAt" jdbcType="BLOB" />
	    <result column="vocational_at" property="vocationalAt" jdbcType="BLOB" />
	    <result column="application_form" property="applicationForm" jdbcType="BLOB" />
	    <result column="application_form_ext" property="applicationFormExt" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="baseSelect">
	    mu.*,
	    F0002.name   AS userTypeName,
	    F0012_1.name AS membershipPathName,
	    F0012_2.name AS focusOnName,
	    F0001.name   AS sexName,
	    F0005.name   AS nationalityName,
	    F0003.name   AS politicalName,
	    F0004.name   AS eduDegreeName,
	    F0006.name   AS bachelorName,
	    F0007.name   AS positionName,
	    F0008.name   AS employerTypeName,
	    F0009.name   AS jobTitleName,
	    F0010.name   AS certificateTypeName,
	    F0011_1.name AS areaName,
	    F0011_2.name AS areaSubName,
	    F0023.name   AS societyTypeName,
	    F0024.name   AS checkStatusName
    </sql>
    <sql id="baseJoin">
    	LEFT JOIN m_fixed_value F0002   ON mu.user_type       = F0002.value   AND F0002.code   = 'F0002'
		LEFT JOIN m_fixed_value F0012_1 ON mu.membership_path = F0012_1.value AND F0012_1.code = 'F0012'
		LEFT JOIN m_fixed_value F0012_2 ON mu.focus_on        = F0012_2.value AND F0012_2.code = 'F0012'
		LEFT JOIN m_fixed_value F0001   ON mu.sex             = F0001.value   AND F0001.code   = 'F0001'
		LEFT JOIN m_fixed_value F0005   ON mu.nationality     = F0005.value   AND F0005.code   = 'F0005'
		LEFT JOIN m_fixed_value F0003   ON mu.political       = F0003.value   AND F0003.code   = 'F0003'
		LEFT JOIN m_fixed_value F0004   ON mu.edu_degree      = F0004.value   AND F0004.code   = 'F0004'
		LEFT JOIN m_fixed_value F0006   ON mu.bachelor        = F0006.value   AND F0006.code   = 'F0006'
		LEFT JOIN m_fixed_value F0007   ON mu.position        = F0007.value   AND F0007.code   = 'F0007'
		LEFT JOIN m_fixed_value F0008   ON mu.employer_type   = F0008.value   AND F0008.code   = 'F0008'
		LEFT JOIN m_fixed_value F0009   ON mu.job_title       = F0009.value   AND F0009.code   = 'F0009'
		LEFT JOIN m_fixed_value F0010   ON mu.certificate_type= F0010.value   AND F0010.code   = 'F0010'
		LEFT JOIN m_fixed_value F0011_1 ON mu.area            = F0011_1.value AND F0011_1.code = 'F0011'
		LEFT JOIN m_fixed_value F0011_2 ON mu.area_sub        = F0011_2.value AND F0011_2.code = 'F0011'
		LEFT JOIN m_fixed_value F0024   ON mu.check_status    = F0024.value   AND F0024.code   = 'F0024'
		LEFT JOIN m_fixed_value F0023   ON mu.society_type    = F0023.value   AND F0023.code   = 'F0023'
    </sql>
    <sql id="baseConition">
    	<if test="user != null and user.name != null and user.name != ''" >
	        and mu.name like concat(concat('%', #{user.name, jdbcType=NVARCHAR}), '%') 
		</if>
		<if test="user != null and user.phone != null and user.phone != ''" >
	        and mu.phone like concat(concat('%', #{user.phone, jdbcType=NVARCHAR}), '%') 
		</if>
		<if test="user != null and user.employer != null and user.employer != ''" >
	        and mu.employer like concat(concat('%', #{user.employer, jdbcType=NVARCHAR}), '%') 
		</if>
		<if test="validStatus != null and validStatus == '01'" >
	        <![CDATA[and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') > STR_TO_DATE(concat(#{expiredSoonDate, jdbcType=NVARCHAR}, ' 23:59:59'), '%Y-%m-%d %T')]]>
		</if>
		<if test="validStatus != null and validStatus == '02'" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') > current_timestamp()
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') <= STR_TO_DATE(concat(#{expiredSoonDate, jdbcType=NVARCHAR}, ' 23:59:59'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="validStatus != null and validStatus == '03'" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') < current_timestamp()
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') > STR_TO_DATE(concat(#{varyExpiredDate, jdbcType=NVARCHAR}, ' 23:59:59'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="validStatus != null and validStatus == '04'" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') < STR_TO_DATE(concat(#{varyExpiredDate, jdbcType=NVARCHAR}, ' 23:59:59'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="registDateFrom != null and registDateFrom != ''" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.regist_date, '%Y-%m-%d %T') >= STR_TO_DATE(concat(#{registDateFrom, jdbcType=NVARCHAR}, ' 00:00:00'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="registDateTo != null and registDateTo != ''" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.regist_date, '%Y-%m-%d %T') <= STR_TO_DATE(concat(#{registDateTo, jdbcType=NVARCHAR}, ' 23:59:59'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="validEndDateFrom != null and validEndDateFrom != ''" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') >= STR_TO_DATE(concat(#{validEndDateFrom, jdbcType=NVARCHAR}, ' 00:00:00'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="validEndDateTo != null and validEndDateTo != ''" >
	        <![CDATA[
	        	and STR_TO_DATE(mu.valid_end_date, '%Y-%m-%d %T') <= STR_TO_DATE(concat(#{validEndDateTo, jdbcType=NVARCHAR}, ' 23:59:59'), '%Y-%m-%d %T')
	        ]]>
		</if>
		<if test="user != null and user.id != null and user.id != ''" >
	        and mu.id like concat(concat('%', #{user.id, jdbcType=NVARCHAR}), '%') 
		</if>
		<if test="user != null and user.userType != null and user.userType != '00'" >
	        and mu.user_type = #{user.userType, jdbcType=NVARCHAR}
		</if>
		<if test="user != null and user.eduDegree != null and user.eduDegree != '00'" >
	        and mu.edu_degree = #{user.eduDegree, jdbcType=NVARCHAR}
		</if>
		<if test="user != null and user.political != null and user.political != '00'" >
	        and mu.political = #{user.political, jdbcType=NVARCHAR}
		</if>
		<if test="searchMode != null and searchMode =='waitList'" >
	        and mu.check_status IN ('01')
		</if>
		<if test="searchMode != null and searchMode =='reviewedList'" >
	        and mu.check_status IN ('02', '03', '04')
		</if>
    </sql>
    <!-- SQL CHIP -->
	<select id="getUserListCount" resultType="int">
		SELECT COUNT(mu.id)
		FROM
		    m_user mu 
		WHERE 1=1
			<include refid="baseConition"/>
	</select>
	<!-- SQL CHIP -->
	<select id="getUserList" resultMap="UserInfoForm">
        SELECT
		    <include refid="baseSelect"/>
		FROM
		    m_user mu 
			<include refid="baseJoin"/>
			WHERE 1=1
			<include refid="baseConition"/>	
		<if test="searchMode != null" >
        ORDER BY application_date DESC
		</if>
		LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="getLoginUserInfo" resultMap="UserInfoForm">
        SELECT
			mu.*
		FROM
		    m_user mu
		WHERE
			mu.id = #{userCode, jdbcType=NVARCHAR}
			OR
			mu.phone = #{userCode, jdbcType=NVARCHAR}
			OR
			mu.mail = #{userCode, jdbcType=NVARCHAR}
    </select>
    
    <select id="getLoginUserInfoByPhone" resultMap="UserInfoForm">
        SELECT
			mu.*
		FROM
		    m_user mu
		WHERE
			mu.phone = #{phone, jdbcType=NVARCHAR}
			and
			(mu.valid_status='1' or check_status='01')
    </select>
    
    <select id="getBaseUserInfo" resultMap="UserInfoForm">
        SELECT
			mu.*
		FROM
		    m_user mu
		WHERE
			mu.id = #{userId, jdbcType=NVARCHAR}
    </select>
    
    <select id="getUserInfo" resultMap="UserInfoForm">
        SELECT
		    <include refid="baseSelect"/>,
		    mue.introducer1,
			mue.introducer2,    
			mue.major,     
			mue.research_dir,
			mue.learn_experience,
			mue.work_experience,
			mue.papers,   
			mue.honors,
			mue.photo,
			mue.photo_ext,
			mue.educational_at,
			mue.educational_at_ext,
			mue.bachelor_at,
			mue.bachelor_at_ext,
			mue.vocational_at,
			mue.vocational_at_ext,
			mue.application_form,
			mue.application_form_ext					    
		FROM
		    m_user mu 
		    LEFT JOIN m_user_extend mue ON mu.id = mue.id
			<include refid="baseJoin"/>
		WHERE
			mu.id = #{userId, jdbcType=NVARCHAR}
    </select>
    
    <select id="getUserPhoto" resultMap="UserExtendForm">
        SELECT
		    mue.id,
		    mue.photo,
			mue.photo_ext					    
		FROM
		    m_user_extend mue
		WHERE
			mue.id = #{userId, jdbcType=NVARCHAR}
    </select>
    
    <select id="isPhoneNumberExist" resultType="boolean">
		SELECT COUNT(1) FROM 
		(SELECT 1
		FROM
		    m_user mu 
		WHERE
			mu.phone = #{phone, jdbcType=NVARCHAR} limit 1) mu
	</select>
	
	<select id="isEmailExist" resultType="boolean">
		SELECT COUNT(1) FROM 
		(SELECT 1
		FROM
		    m_user mu 
		WHERE
			mu.mail = #{mail, jdbcType=NVARCHAR} limit 1) mu
	</select>
    
</mapper>