<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caam.gs.domain.db.custom.mapper.OptionalOrderInfoMapper">
	<!-- RESULT MAP -->
    <resultMap id="OrderInfoForm" 
                type="cn.caam.gs.domain.db.custom.entity.OrderInfo">
        <id property="id" column="id"/>
        <result property="userName"       column="userName"/>
        <result property="payPathName"       column="payPathName"/>
        <result property="orderMethodName"   column="orderMethodName"/>
        <result property="orderTypeName"     column="orderTypeName"/>
        <result property="payTypeName"       column="payTypeName"/>
        <result property="checkStatusName"    column="checkStatusName"/>
        <result property="refundStatusName"      column="refundStatusName"/>
        <result property="billStatusName"      column="billStatusName"/>
        <result property="billTypeName"      column="billTypeName"/>
        <result property="voteMethodName"      column="voteMethodName"/>
        <association property="order" 
            resultMap="cn.caam.gs.domain.db.base.mapper.MOrderMapper.BaseResultMap">
            <id column="id" property="id" />
        </association>
        <association property="bill" 
            resultMap="cn.caam.gs.domain.db.base.mapper.MBillMapper.BaseResultMap">
            <id column="id" property="id" />
        </association>
        <association property="orderImg" resultMap="MImageForm">
            <id column="id" property="id" />
        </association>
    </resultMap>
    
    <resultMap id="MImageForm" type="cn.caam.gs.domain.db.base.entity.MImage">
   	    <id column="id" property="id" jdbcType="VARCHAR" />
    	<result column="order_photo_ext" property="orderPhotoExt" jdbcType="VARCHAR" />
    	<result column="bill_photo_ext" property="billPhotoExt" jdbcType="VARCHAR" />
    	<result column="order_photo" property="orderPhoto" jdbcType="BLOB" />
    	<result column="bill_photo" property="billPhoto" jdbcType="BLOB" />
    </resultMap>
    <sql id="baseSelect">
	    mo.*,
	    mu.name      AS userName,
	    F0012.name   AS payPathName,
	    F0020.name   AS orderMethodName,
	    F0015.name   AS orderTypeName,
	    F0014.name   AS payTypeName,
	    F0013.name   AS checkStatusName,
	    F0016.name   AS refundStatusName,
	    F0018.name   AS billStatusName,
	    F0017.name   AS billTypeName,
	    F0019.name   AS voteMethodName
    </sql>
    <sql id="baseJoin">
    	LEFT JOIN m_user mu ON mo.user_id = mu.id
		LEFT JOIN m_bill mb ON mo.id = mb.id
		LEFT JOIN m_fixed_value F0012   ON mo.pay_path        = F0012.value   AND F0012.code   = 'F0012'
		LEFT JOIN m_fixed_value F0020   ON mo.order_method    = F0020.value   AND F0020.code   = 'F0020'
		LEFT JOIN m_fixed_value F0015   ON mo.order_type      = F0015.value   AND F0015.code   = 'F0015'
		LEFT JOIN m_fixed_value F0014   ON mo.pay_type        = F0014.value   AND F0014.code   = 'F0014'
		LEFT JOIN m_fixed_value F0013   ON mo.check_status    = F0013.value   AND F0013.code   = 'F0013'
		LEFT JOIN m_fixed_value F0016   ON mo.refund_status   = F0016.value   AND F0016.code   = 'F0016'
		LEFT JOIN m_fixed_value F0018   ON mo.bill_status     = F0018.value   AND F0018.code   = 'F0018'
		LEFT JOIN m_fixed_value F0017   ON mb.bill_type       = F0017.value   AND F0017.code   = 'F0017'
		LEFT JOIN m_fixed_value F0019   ON mb.vote_method     = F0019.value   AND F0019.code   = 'F0019'
    </sql>
    <sql id="baseCondition">
		<if test="order != null and order.userId != null" >
	        and mo.user_id = #{order.userId, jdbcType=NVARCHAR}
		</if>
		<if test="order != null and order.checkStatus != null and order.checkStatus != '00' and order.checkStatus != '04'" >
	        and mo.check_status = #{order.checkStatus, jdbcType=NVARCHAR}
		</if>
		<if test="order != null and order.checkStatus != null and order.checkStatus == '04'" >
	        and mo.check_status IN ('04', '05')
		</if>
    </sql>
    <!-- SQL CHIP -->
	<select id="getOrderListCount" resultType="int">
		SELECT COUNT(mo.id)
		FROM
		    m_order mo 
		WHERE 1=1
		    <include refid="baseCondition"/>
	</select>
	<!-- SQL CHIP -->
	<select id="getOrderList" resultMap="OrderInfoForm">
        SELECT
		    <include refid="baseSelect"/>
		FROM
		    m_order mo 
			<include refid="baseJoin"/>
			WHERE 1=1
		    <include refid="baseCondition"/>
		ORDER BY mo.pay_date DESC
		LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="getOrder" resultMap="OrderInfoForm">
		SELECT
		    <include refid="baseSelect"/>,
		    mi.*,
		    mb.*
		FROM
		    m_order mo 
			<include refid="baseJoin"/>
			LEFT JOIN m_image mi ON mo.id = mi.id
			WHERE mo.id = #{orderId, jdbcType=NVARCHAR}
	</select>
	
	<select id="getOrderWaitCount" resultType="int">
		SELECT COUNT(mo.id)
		FROM
		    m_order mo 
		WHERE mo.check_status = '01'
		    
	</select>
	<select id="getOrderReviewCount" resultType="int">
		SELECT COUNT(mo.id)
		FROM
		    m_order mo 
		WHERE mo.check_status = '02'
		    
	</select>
	
	<!-- SQL CHIP -->
	<select id="getBillListCount" resultType="int">
		SELECT COUNT(mo.id)
		FROM
		    m_order mo 
		WHERE 1=1
		    and mo.check_status = '04'
	</select>
	<!-- SQL CHIP -->
	<select id="getBillList" resultMap="OrderInfoForm">
        SELECT
		    <include refid="baseSelect"/>
		FROM
		    m_order mo 
			<include refid="baseJoin"/>
			WHERE 1=1
		    and mo.check_status = '04'
		ORDER BY mo.bill_status, mo.pay_date DESC
		LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <!-- SQL CHIP -->
	<select id="getRefundListCount" resultType="int">
		SELECT COUNT(mo.id)
		FROM
		    m_order mo 
		WHERE 1=1
		    and mo.check_status = '05'
	</select>
	<!-- SQL CHIP -->
	<select id="getRefundList" resultMap="OrderInfoForm">
        SELECT
		    <include refid="baseSelect"/>
		FROM
		    m_order mo 
			<include refid="baseJoin"/>
			WHERE 1=1
		    and mo.check_status = '05'
		ORDER BY mo.bill_status, mo.pay_date DESC
		LIMIT #{limit} OFFSET #{offset}
    </select>
        
</mapper>