<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caam.gs.domain.db.custom.mapper.OptionalMessageInfoMapper">
	<!-- RESULT MAP -->
    <resultMap id="MessageInfoForm" 
                type="cn.caam.gs.domain.db.custom.entity.MessageInfo">
        <id property="id" column="id"/>
        <result property="msgTypeName"   column="msgTypeName"/>
        <result property="readSts"       column="readSts"/>
        
        <association property="message" 
            resultMap="cn.caam.gs.domain.db.base.mapper.MMessageMapper.BaseResultMap">
            <id column="id" property="id" />
        </association>
        <association property="messageRead" 
            resultMap="MessageRead">
            <id column="mr_id" property="id" />
        </association>
    </resultMap>
    <resultMap id="MessageRead" type="cn.caam.gs.domain.db.base.entity.MMessageRead">
    	<id     column="mr_id" property="id" jdbcType="VARCHAR" />
    	<result column="mr_user_id" property="userId"  jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseSelect">
	    mm.*,
	    F0021.name   AS msgTypeName
    </sql>
    <sql id="baseJoin">
		LEFT JOIN m_fixed_value F0021   ON mm.msg_type        = F0021.value   AND F0021.code   = 'F0021'
    </sql>
    <!-- SQL CHIP -->
	<select id="getMessageListCount" resultType="int">
		SELECT COUNT(mm.id)
		FROM
		    m_message mm 
		WHERE
		    1=1
	</select>
	
	<!-- SQL CHIP -->
	<select id="getUserMessageListCount" resultType="int">
		SELECT COUNT(mm.id)
		FROM
		    m_message mm 
		WHERE
		    mm.user_id = #{userId, jdbcType=NVARCHAR} OR mm.user_id is null
		    
	</select>
	<!-- SQL CHIP -->
	<select id="getMessageList" resultMap="MessageInfoForm">
        SELECT
		    <include refid="baseSelect"/>
		FROM
		    m_message mm 
			<include refid="baseJoin"/>
			WHERE
		    1=1
		ORDER BY mm.regist_date DESC
		LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <!-- SQL CHIP -->
    <select id="getUserMessageUnReadCnt" resultType="int">
        SELECT COUNT(main.id)
        FROM (
	        SELECT
			    mm.id,
			    case when mr.id is null then false else true end AS readSts
			FROM
			    m_message mm 
				LEFT JOIN m_message_read mr ON mm.id = mr.id
				WHERE
			    mm.user_id = #{userId, jdbcType=NVARCHAR} OR mm.user_id is null
	    ) AS main
	    WHERE main.readSts = false
    </select>
    
	<select id="getUserMessageList" resultMap="MessageInfoForm">
        SELECT
		    <include refid="baseSelect"/>,
		    mr.id AS mr_id,
		    mr.user_id AS mr_user_id,
		    case when mr.id is null then false else true end AS readSts
		FROM
		    m_message mm 
			<include refid="baseJoin"/>
			LEFT JOIN m_message_read mr ON mm.id = mr.id
			WHERE
		    mm.user_id = #{userId, jdbcType=NVARCHAR} OR mm.user_id is null
		ORDER BY readSts, mm.regist_date DESC
		LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="getMessageRead" resultMap="MessageRead">
        SELECT
		    mr.id AS mr_id,
		    mr.user_id AS mr_user_id
		FROM
		    m_message_read mr 
			WHERE
		    mr.user_id = #{userId, jdbcType=NVARCHAR}
			AND mr.id = #{msgId, jdbcType=NVARCHAR}
    </select>
    
        
</mapper>